<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.material.mapper.MenuMapper">
    <select id="listMenu" resultType="com.material.entity.menu.Tree">
        select id id,
               name text,
               url,
               pid
        from sys_menu
        where isShow=1
        order by id asc
    </select>

</mapper>